<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/assets/css/styles.css" />

    <title>Internal Server Error</title>
  </head>
  <body>
    <%- include('partials/header', {page: "50X"}) %>

    <div class="container">
      <div class="row mt-4">
        <div class="col-md-5 m-auto">
          <h1 style="font-size: 140px">Oops!</h1>
          <h2>Something went wrong. Please try again later.</h2>
        </div>

        <div class="col-md-5 m-auto">
          <img
            src="/assets/img/404.gif"
            width="313"
            height="428"
            alt="Girl has dropped her ice cream."
          />
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
