<footer class="pt-4 my-md-5 pt-md-1 border-top">
  <div class="footer-copyright text-muted text-center py-3" style="display: flex; justify-content: center;">
    <p style="padding-right: 5px;">© </p><p id="year" style="padding-right: 5px;"></p> <p>CheapCARFAX</p>
  </div>
</footer>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"
  integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0="
  crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>

<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>

<script>
  $(document).ready(function(){
    const currentDate = new Date();
    const curYear = currentDate.getFullYear();
    const year = document.getElementById('year');
    year.textContent = curYear;
  });
  

  if ($(".alert").length) {
    window.setTimeout(function () {
      $(".alert")
        .fadeTo(500, 0)
        .slideUp(500, function () {
          $(this).remove();
        });
    }, 5000);
  }
</script>
